In [3]:
import pandas as pd
from pandas import DataFrame
import pyodbc
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LinearRegression

In [4]:
#kết nối với db
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};' 'SERVER= MSI;' 'DATABASE=AdventureWorksLT2022;''UID=dh;''PWD=nhatnam180804')
#thực hiện truy vấn SQL
query = "SELECT * FROM SalesLT.SalesOrderDetail"
df = pd.read_sql(query,conn)
#đóng kết nối
conn.close()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3136\319593662.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

In [5]:
df

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,71774,110562,1,836,356.898,0.0,356.898,E3A1994C-7A68-4CE8-96A3-77FDD3BBD730,2008-06-01
1,71774,110563,1,822,356.898,0.0,356.898,5C77F557-FDB6-43BA-90B9-9A7AEC55CA32,2008-06-01
2,71776,110567,1,907,63.900,0.0,63.900,6DBFE398-D15D-425E-AA58-88178FE360E5,2008-06-01
3,71780,110616,4,905,218.454,0.0,873.816,377246C9-4483-48ED-A5B9-E56F005364E0,2008-06-01
4,71780,110617,2,983,461.694,0.0,923.388,43A54BCD-536D-4A1B-8E69-24D083507A14,2008-06-01
...,...,...,...,...,...,...,...,...,...
537,71938,113312,3,715,29.994,0.0,89.982,64FBAAAB-9400-4664-ADD7-97115B75B27B,2008-06-01
538,71938,113313,1,881,32.394,0.0,32.394,67D4E5D4-9629-49A6-A6E0-9E1C4CDEE3DE,2008-06-01
539,71938,113314,2,875,5.394,0.0,10.788,352D06E9-8456-4966-9C73-3F227B023962,2008-06-01
540,71938,113315,3,800,672.294,0.0,2016.882,78F73142-E566-453F-A2B9-88A0FCAF4552,2008-06-01
541,71946,113406,1,916,31.584,0.0,31.584,B571CEE0-A90A-4E76-9796-379B55352A28,2008-06-01

In [ ]:
X = DataFrame(df, columns= ['columns name '])
y = DataFrame(df, columns=[' columns name '])

In [ ]:
regression = LinearRegression() #(tạo ra một đối tượng và lưu trữ nó vào **Tham chiếu đến LinearR với biến regression)
regression.fit(X, y)

In [ ]:
regression.coef_ (đây là hệ số góc ) #theta 1

In [ ]:
# điểm cắt trục y theta 0
regression.intercept_

In [ ]:
plt.figure(figsize=(10,6)) #( size của đồ thị)
plt.scatter(X,Y,alpha = 0.3  #(tạo độ trong suốt của biểu đồ) ( tạo một biểu đồ phân tán trong notebook bằng matplotlib.pyplot.scatter())
plt.plot(X,regression.predict(X), color='red',linewidth = 4) #(Vẽ một đường thẳng trong biểu đồ, tính toán giá trị dự đoán cho mỗi ngân sách X)
plt.title(' ') #( tiêu đề cho đồ thị )
plt.xlabel(' ') #(thông tin cho trục hoành)
plt.ylabel(' ') #(thông tin cho trục tung)
plt.ylim(0,m) # miền của y
plt.xlim(0,n) # miền của x
plt.show() #( đưa ra đồ thị )

In [ ]:
regression.score(X,y) # số đo lường R^2